<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>it</string>
	<key>CFBundleIdentifier</key>
	<string>com.bikepolo.ruleset</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>EHBA Ruleset</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>IATemplateAuthor</key>
	<string>Pyetro (MBP)</string>
	<key>IATemplateAuthorURL</key>
	<string>https://pyet.ro/</string>
	<key>IATemplateDescription</key>
	<string>Bike Polo ruleset style.</string>
	<key>IATemplateDocumentFile</key>
	<string>document</string>
	<key>IATemplateFooterFile</key>
	<string>footer</string>
	<key>IATemplateFooterHeight</key>
	<integer>40</integer>
	<key>IATemplateHeaderFile</key>	
	<string>header</string>
	<key>IATemplateHeaderHeight</key>
	<integer>80</integer>
	<key>IATemplateTitleFile</key>
	<string>title</string>
</dict>
</plist>
